# Developer Team
/emojirades/     @emojirades/developers
requirements.txt @emojirades/developers

# Platform Team
Dockerfile   @emojirades/platform
setup.py     @emojirades/platform
/.github/    @emojirades/platform
