# Developer Team
/emojirades/   @emojirades/developers

# Platform Team
/.github/      @emojirades/platform
README.md      @emojirades/platform
Dockerfile     @emojirades/platform
setup.cfg      @emojirades/platform
pyproject.toml @emojirades/platform
